@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #D4AF94;
}

h1 {
  color: #703002;
}

h1#principal {
  font: italic bold 2em Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 2px black;
  background-color: white;
  color: #FF6B00;
  text-align: center;
}
