@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}


.container {
    background-color: orange;
    border: 3px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto; /* pega as 3 colunas e aumenta o tamanho da largura da caixa.
        com grid-template-rows irá aumentar a altura das 2 rows (linhas). */
    height: 10vh;
    justify-content: center; /* alinhamento horizontal. */
    align-items: center; /* alinhamento vertical. */
}

.container div {
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
}